<launch>
    <arg name="dims" value="1" />
    <arg name="xu-ns" value="50" />
    <arg name="d-mins" value="[-70.60236]" />
    <arg name="d-maxs" value="[-70.60237]" />
    <arg name="V" value="21" />
    <arg name="K" value="4" />
    <arg name="max-obs" value="1000" />
    <arg name="dir-p" value="0.0001" />
    <arg name="kernel-lengthscale" value="0.00005" />
    <arg name="kernel-variance" value="1.0" />
    <arg name="optimizer-lr" value="0.001" />
    <arg name="optimizer-clip-norm" value="10.0" />
    <arg name="device" value="cpu" />
    <arg name="subsample-n" value="10" />
    <arg name="whiten" value="false" />
    <arg name="fail-on-nan-loss" value="false" />
    <arg name="num-particles" value="10" />
    <arg name="jit" value="false" />
    <arg name="random-seed" value="777" />
    <node pkg="sgdrfros" type="sgdrf_node.py" name="sgdrfros">
        <param name="dims" value="$(arg dims)" />
        <rosparam param="xu-ns" subst_value="True">
            $(arg xu-ns)
        </rosparam>
        <rosparam param="d-mins" subst_value="True">
            $(arg d-mins)
        </rosparam>
        <rosparam param="d-maxs" subst_value="True">
            $(arg d-maxs)
        </rosparam>
        <param name="V" value="$(arg V)" />
        <param name="K" value="$(arg K)" />
        <param name="max-obs" value="$(arg max-obs)" />
        <param name="dir-p" value="$(arg dir-p)" />
        <param name="kernel-lengthscale" value="$(arg kernel-lengthscale)" />
        <param name="kernel-variance" value="$(arg kernel-variance)" />
        <param name="optimizer-lr" value="$(arg optimizer-lr)" />
        <param name="optimizer-clip-norm" value="$(arg optimizer-clip-norm)" />
        <param name="device" value="$(arg device)" />
        <param name="subsample-n" value="$(arg subsample-n)" />
        <param name="whiten" value="$(arg whiten)" />
        <param name="fail-on-nan-loss" value="$(arg fail-on-nan-loss)" />
        <param name="num-particles" value="$(arg num-particles)" />
        <param name="jit" value="$(arg jit)" />
        <param name="random-seed" value="$(arg random-seed)" />
    </node>
</launch>